In [1]:
pip install pykrakenapi

SyntaxError: invalid syntax (Temp/ipykernel_12236/2692974769.py, line 2)

In [1]:
import krakenex
from pykrakenapi import KrakenAPI
api = krakenex.API()
k = KrakenAPI(api)

In [3]:
data = k.get_asset_info()
data
data.to_excel("currency_info.xlsx")

In [2]:
import requests
data1 = requests.get('https://api.kraken.com/0/public/Assets').json()
data1['result']

{'1INCH': {'aclass': 'currency',
  'altname': '1INCH',
  'decimals': 10,
  'display_decimals': 5},
 'AAVE': {'aclass': 'currency',
  'altname': 'AAVE',
  'decimals': 10,
  'display_decimals': 5},
 'ADA': {'aclass': 'currency',
  'altname': 'ADA',
  'decimals': 8,
  'display_decimals': 6},
 'ADA.S': {'aclass': 'currency',
  'altname': 'ADA.S',
  'decimals': 8,
  'display_decimals': 6},
 'ALGO': {'aclass': 'currency',
  'altname': 'ALGO',
  'decimals': 8,
  'display_decimals': 5},
 'ALGO.S': {'aclass': 'currency',
  'altname': 'ALGO.S',
  'decimals': 8,
  'display_decimals': 5},
 'ANKR': {'aclass': 'currency',
  'altname': 'ANKR',
  'decimals': 10,
  'display_decimals': 5},
 'ANT': {'aclass': 'currency',
  'altname': 'ANT',
  'decimals': 10,
  'display_decimals': 5},
 'ATOM': {'aclass': 'currency',
  'altname': 'ATOM',
  'decimals': 8,
  'display_decimals': 6},
 'ATOM.S': {'aclass': 'currency',
  'altname': 'ATOM.S',
  'decimals': 8,
  'display_decimals': 6},
 'AVAX': {'aclass': 'currency',
  'altname': 'AVAX',
  'decimals': 10,
  'display_decimals': 5},
 'AXS': {'aclass': 'currency',
  'altname': 'AXS',
  'decimals': 10,
  'display_decimals': 5},
 'BADGER': {'aclass': 'currency',
  'altname': 'BADGER',
  'decimals': 10,
  'display_decimals': 5},
 'BAL': {'aclass': 'currency',
  'altname': 'BAL',
  'decimals': 10,
  'display_decimals': 5},
 'BAND': {'aclass': 'currency',
  'altname': 'BAND',
  'decimals': 10,
  'display_decimals': 5},
 'BAT': {'aclass': 'currency',
  'altname': 'BAT',
  'decimals': 10,
  'display_decimals': 5},
 'BCH': {'aclass': 'currency',
  'altname': 'BCH',
  'decimals': 10,
  'display_decimals': 5},
 'BNC': {'aclass': 'currency',
  'altname': 'BNC',
  'decimals': 10,
  'display_decimals': 5},
 'BNT': {'aclass': 'currency',
  'altname': 'BNT',
  'decimals': 10,
  'display_decimals': 5},
 'CHF': {'aclass': 'currency',
  'altname': 'CHF',
  'decimals': 4,
  'display_decimals': 2},
 'CHZ': {'aclass': 'currency',
  'altname': 'CHZ',
  'decimals': 10,
  'display_decimals': 5},
 'COMP': {'aclass': 'currency',
  'altname': 'COMP',
  'decimals': 10,
  'display_decimals': 5},
 'CQT': {'aclass': 'currency',
  'altname': 'CQT',
  'decimals': 10,
  'display_decimals': 5},
 'CRV': {'aclass': 'currency',
  'altname': 'CRV',
  'decimals': 10,
  'display_decimals': 5},
 'CTSI': {'aclass': 'currency',
  'altname': 'CTSI',
  'decimals': 10,
  'display_decimals': 5},
 'DAI': {'aclass': 'currency',
  'altname': 'DAI',
  'decimals': 10,
  'display_decimals': 5},
 'DASH': {'aclass': 'currency',
  'altname': 'DASH',
  'decimals': 10,
  'display_decimals': 5},
 'DOT': {'aclass': 'currency',
  'altname': 'DOT',
  'decimals': 10,
  'display_decimals': 8},
 'DOT.P': {'aclass': 'currency',
  'altname': 'DOT.P',
  'decimals': 10,
  'display_decimals': 8},
 'DOT.S': {'aclass': 'currency',
  'altname': 'DOT.S',
  'decimals': 10,
  'display_decimals': 8},
 'DYDX': {'aclass': 'currency',
  'altname': 'DYDX',
  'decimals': 10,
  'display_decimals': 5},
 'ENJ': {'aclass': 'currency',
  'altname': 'ENJ',
  'decimals': 10,
  'display_decimals': 5},
 'EOS': {'aclass': 'currency',
  'altname': 'EOS',
  'decimals': 10,
  'display_decimals': 5},
 'ETH2': {'aclass': 'currency',
  'altname': 'ETH2',
  'decimals': 10,
  'display_decimals': 5},
 'ETH2.S': {'aclass': 'currency',
  'altname': 'ETH2.S',
  'decimals': 10,
  'display_decimals': 5},
 'EUR.HOLD': {'aclass': 'currency',
  'altname': 'EUR.HOLD',
  'decimals': 4,
  'display_decimals': 2},
 'EUR.M': {'aclass': 'currency',
  'altname': 'EUR.M',
  'decimals': 4,
  'display_decimals': 4},
 'EWT': {'aclass': 'currency',
  'altname': 'EWT',
  'decimals': 10,
  'display_decimals': 5},
 'FIL': {'aclass': 'currency',
  'altname': 'FIL',
  'decimals': 10,
  'display_decimals': 6},
 'FLOW': {'aclass': 'currency',
  'altname': 'FLOW',
  'decimals': 10,
  'display_decimals': 6},
 'FLOW.S': {'aclass': 'currency',
  'altname': 'FLOW.S',
  'decimals': 10,
  'display_decimals': 6},
 'FLOWH': {'aclass': 'currency',
  'altname': 'FLOWH',
  'decimals': 10,
  'display_decimals': 6},
 'FLOWH.S': {'aclass': 'currency',
  'altname': 'FLOWH.S',
  'decimals': 10,
  'display_decimals': 6},
 'GHST': {'aclass': 'currency',
  'altname': 'GHST',
  'decimals': 10,
  'display_decimals': 5},
 'GLMR': {'aclass': 'currency',
  'altname': 'GLMR',
  'decimals': 10,
  'display_decimals': 5},
 'GNO': {'aclass': 'currency',
  'altname': 'GNO',
  'decimals': 10,
  'display_decimals': 5},
 'GRT': {'aclass': 'currency',
  'altname': 'GRT',
  'decimals': 10,
  'display_decimals': 5},
 'ICX': {'aclass': 'currency',
  'altname': 'ICX',
  'decimals': 10,
  'display_decimals': 5},
 'INJ': {'aclass': 'currency',
  'altname': 'INJ',
  'decimals': 10,
  'display_decimals': 5},
 'KAR': {'aclass': 'currency',
  'altname': 'KAR',
  'decimals': 10,
  'display_decimals': 5},
 'KAVA': {'aclass': 'currency',
  'altname': 'KAVA',
  'decimals': 8,
  'display_decimals': 6},
 'KAVA.S': {'aclass': 'currency',
  'altname': 'KAVA.S',
  'decimals': 8,
  'display_decimals': 6},
 'KEEP': {'aclass': 'currency',
  'altname': 'KEEP',
  'decimals': 10,
  'display_decimals': 5},
 'KFEE': {'aclass': 'currency',
  'altname': 'FEE',
  'decimals': 2,
  'display_decimals': 2},
 'KILT': {'aclass': 'currency',
  'altname': 'KILT',
  'decimals': 10,
  'display_decimals': 5},
 'KINT': {'aclass': 'currency',
  'altname': 'KINT',
  'decimals': 10,
  'display_decimals': 5},
 'KNC': {'aclass': 'currency',
  'altname': 'KNC',
  'decimals': 10,
  'display_decimals': 5},
 'KSM': {'aclass': 'currency',
  'altname': 'KSM',
  'decimals': 10,
  'display_decimals': 8},
 'KSM.P': {'aclass': 'currency',
  'altname': 'KSM.P',
  'decimals': 10,
  'display_decimals': 8},
 'KSM.S': {'aclass': 'currency',
  'altname': 'KSM.S',
  'decimals': 10,
  'display_decimals': 8},
 'LINK': {'aclass': 'currency',
  'altname': 'LINK',
  'decimals': 10,
  'display_decimals': 5},
 'LPT': {'aclass': 'currency',
  'altname': 'LPT',
  'decimals': 10,
  'display_decimals': 5},
 'LRC': {'aclass': 'currency',
  'altname': 'LRC',
  'decimals': 10,
  'display_decimals': 5},
 'LSK': {'aclass': 'currency',
  'altname': 'LSK',
  'decimals': 10,
  'display_decimals': 5},
 'LUNA': {'aclass': 'currency',
  'altname': 'LUNA',
  'decimals': 8,
  'display_decimals': 5},
 'MANA': {'aclass': 'currency',
  'altname': 'MANA',
  'decimals': 10,
  'display_decimals': 5},
 'MATIC': {'aclass': 'currency',
  'altname': 'MATIC',
  'decimals': 10,
  'display_decimals': 5},
 'MINA': {'aclass': 'currency',
  'altname': 'MINA',
  'decimals': 10,
  'display_decimals': 5},
 'MIR': {'aclass': 'currency',
  'altname': 'MIR',
  'decimals': 10,
  'display_decimals': 5},
 'MKR': {'aclass': 'currency',
  'altname': 'MKR',
  'decimals': 10,
  'display_decimals': 5},
 'MOVR': {'aclass': 'currency',
  'altname': 'MOVR',
  'decimals': 10,
  'display_decimals': 5},
 'NANO': {'aclass': 'currency',
  'altname': 'NANO',
  'decimals': 10,
  'display_decimals': 5},
 'OCEAN': {'aclass': 'currency',
  'altname': 'OCEAN',
  'decimals': 10,
  'display_decimals': 5},
 'OGN': {'aclass': 'currency',
  'altname': 'OGN',
  'decimals': 10,
  'display_decimals': 5},
 'OMG': {'aclass': 'currency',
  'altname': 'OMG',
  'decimals': 10,
  'display_decimals': 5},
 'OXT': {'aclass': 'currency',
  'altname': 'OXT',
  'decimals': 10,
  'display_decimals': 5},
 'OXY': {'aclass': 'currency',
  'altname': 'OXY',
  'decimals': 8,
  'display_decimals': 5},
 'PAXG': {'aclass': 'currency',
  'altname': 'PAXG',
  'decimals': 10,
  'display_decimals': 5},
 'PERP': {'aclass': 'currency',
  'altname': 'PERP',
  'decimals': 10,
  'display_decimals': 5},
 'PHA': {'aclass': 'currency',
  'altname': 'PHA',
  'decimals': 10,
  'display_decimals': 5},
 'QTUM': {'aclass': 'currency',
  'altname': 'QTUM',
  'decimals': 10,
  'display_decimals': 6},
 'RARI': {'aclass': 'currency',
  'altname': 'RARI',
  'decimals': 10,
  'display_decimals': 5},
 'RAY': {'aclass': 'currency',
  'altname': 'RAY',
  'decimals': 8,
  'display_decimals': 5},
 'REN': {'aclass': 'currency',
  'altname': 'REN',
  'decimals': 10,
  'display_decimals': 5},
 'REPV2': {'aclass': 'currency',
  'altname': 'REPV2',
  'decimals': 10,
  'display_decimals': 5},
 'SAND': {'aclass': 'currency',
  'altname': 'SAND',
  'decimals': 10,
  'display_decimals': 5},
 'SC': {'aclass': 'currency',
  'altname': 'SC',
  'decimals': 10,
  'display_decimals': 5},
 'SDN': {'aclass': 'currency',
  'altname': 'SDN',
  'decimals': 10,
  'display_decimals': 5},
 'SHIB': {'aclass': 'currency',
  'altname': 'SHIB',
  'decimals': 5,
  'display_decimals': 0},
 'SNX': {'aclass': 'currency',
  'altname': 'SNX',
  'decimals': 10,
  'display_decimals': 5},
 'SOL': {'aclass': 'currency',
  'altname': 'SOL',
  'decimals': 10,
  'display_decimals': 5},
 'SOL.S': {'aclass': 'currency',
  'altname': 'SOL.S',
  'decimals': 10,
  'display_decimals': 5},
 'SRM': {'aclass': 'currency',
  'altname': 'SRM',
  'decimals': 8,
  'display_decimals': 5},
 'STORJ': {'aclass': 'currency',
  'altname': 'STORJ',
  'decimals': 10,
  'display_decimals': 5},
 'SUSHI': {'aclass': 'currency',
  'altname': 'SUSHI',
  'decimals': 10,
  'display_decimals': 5},
 'TBTC': {'aclass': 'currency',
  'altname': 'TBTC',
  'decimals': 10,
  'display_decimals': 5},
 'TRX': {'aclass': 'currency',
  'altname': 'TRX',
  'decimals': 8,
  'display_decimals': 6},
 'UNI': {'aclass': 'currency',
  'altname': 'UNI',
  'decimals': 10,
  'display_decimals': 5},
 'USD.HOLD': {'aclass': 'currency',
  'altname': 'USD.HOLD',
  'decimals': 4,
  'display_decimals': 2},
 'USD.M': {'aclass': 'currency',
  'altname': 'USD.M',
  'decimals': 4,
  'display_decimals': 4},
 'USDC': {'aclass': 'currency',
  'altname': 'USDC',
  'decimals': 8,
  'display_decimals': 4},
 'USDT': {'aclass': 'currency',
  'altname': 'USDT',
  'decimals': 8,
  'display_decimals': 4},
 'WAVES': {'aclass': 'currency',
  'altname': 'WAVES',
  'decimals': 10,
  'display_decimals': 5},
 'WBTC': {'aclass': 'currency',
  'altname': 'WBTC',
  'decimals': 10,
  'display_decimals': 5},
 'XBT.M': {'aclass': 'currency',
  'altname': 'XBT.M',
  'decimals': 10,
  'display_decimals': 8},
 'XETC': {'aclass': 'currency',
  'altname': 'ETC',
  'decimals': 10,
  'display_decimals': 5},
 'XETH': {'aclass': 'currency',
  'altname': 'ETH',
  'decimals': 10,
  'display_decimals': 5},
 'XLTC': {'aclass': 'currency',
  'altname': 'LTC',
  'decimals': 10,
  'display_decimals': 5},
 'XMLN': {'aclass': 'currency',
  'altname': 'MLN',
  'decimals': 10,
  'display_decimals': 5},
 'XREP': {'aclass': 'currency',
  'altname': 'REP',
  'decimals': 10,
  'display_decimals': 5},
 'XTZ': {'aclass': 'currency',
  'altname': 'XTZ',
  'decimals': 8,
  'display_decimals': 6},
 'XTZ.S': {'aclass': 'currency',
  'altname': 'XTZ.S',
  'decimals': 8,
  'display_decimals': 6},
 'XXBT': {'aclass': 'currency',
  'altname': 'XBT',
  'decimals': 10,
  'display_decimals': 5},
 'XXDG': {'aclass': 'currency',
  'altname': 'XDG',
  'decimals': 8,
  'display_decimals': 2},
 'XXLM': {'aclass': 'currency',
  'altname': 'XLM',
  'decimals': 8,
  'display_decimals': 5},
 'XXMR': {'aclass': 'currency',
  'altname': 'XMR',
  'decimals': 10,
  'display_decimals': 5},
 'XXRP': {'aclass': 'currency',
  'altname': 'XRP',
  'decimals': 8,
  'display_decimals': 5},
 'XZEC': {'aclass': 'currency',
  'altname': 'ZEC',
  'decimals': 10,
  'display_decimals': 5},
 'YFI': {'aclass': 'currency',
  'altname': 'YFI',
  'decimals': 10,
  'display_decimals': 5},
 'ZAUD': {'aclass': 'currency',
  'altname': 'AUD',
  'decimals': 4,
  'display_decimals': 2},
 'ZCAD': {'aclass': 'currency',
  'altname': 'CAD',
  'decimals': 4,
  'display_decimals': 2},
 'ZEUR': {'aclass': 'currency',
  'altname': 'EUR',
  'decimals': 4,
  'display_decimals': 2},
 'ZGBP': {'aclass': 'currency',
  'altname': 'GBP',
  'decimals': 4,
  'display_decimals': 2},
 'ZJPY': {'aclass': 'currency',
  'altname': 'JPY',
  'decimals': 2,
  'display_decimals': 0},
 'ZRX': {'aclass': 'currency',
  'altname': 'ZRX',
  'decimals': 10,
  'display_decimals': 5},
 'ZUSD': {'aclass': 'currency',
  'altname': 'USD',
  'decimals': 4,
  'display_decimals': 2}}

In [4]:
pairs = k.get_tradable_asset_pairs()
pairs.head().T

pairs_transpose = pairs.T
pairs_transpose.to_excel("tradable_asset_pairs.xlsx")

In [5]:
ticker = k.get_ticker_information('BTCUSD')
ticker.T

                        XXBTZUSD
a        [43292.90000, 5, 5.000]
b        [43292.80000, 1, 1.000]
c      [43292.90000, 0.00146096]
h     [43565.30000, 43565.30000]
l     [42600.00000, 42600.00000]
o                    43090.00000
p     [43106.71299, 43146.61369]
t                 [12341, 17804]
v  [764.30153174, 1481.90624415]

In [6]:
ohlc = k.get_ohlc_data('BTCUSD', interval=1440, ascending = True)
ohlc[0].head()

,time,open,high,low,close,vwap,volume,count
dtime,,,,,,,,
2020-01-27,1580083200,8599.3,8979.0,8565.0,8891.8,8763.6,6287.217151,16577
2020-01-28,1580169600,8891.8,9420.7,8873.9,9399.9,9082.6,8030.840786,24957
2020-01-29,1580256000,9395.0,9438.3,9222.6,9280.9,9332.9,5598.646052,15472
2020-01-30,1580342400,9281.2,9568.1,9060.0,9500.0,9375.0,8016.285349,20223
2020-01-31,1580428800,9500.5,9520.0,9200.0,9339.3,9329.8,4869.462758,14134

In [7]:
import pandas as pd

ohlc[0]['20 SMA'] = ohlc[0]['close'].rolling(20).mean()
ohlc[0].tail()

,time,open,high,low,close,vwap,volume,count,20 SMA
dtime,,,,,,,,,
2022-01-11,1641859200,41855.2,43127.5,41315.5,42728.8,42374.3,3316.849061,27218,46222.055
2022-01-12,1641945600,42728.8,44348.5,42480.0,43927.8,43529.2,2847.971732,25374,45877.505
2022-01-13,1642032000,43927.8,44420.1,42352.0,42550.0,43331.8,2960.067418,25407,45463.290
2022-01-14,1642118400,42550.0,43473.1,41800.0,43090.0,42821.3,2711.961121,24161,45095.990
2022-01-15,1642204800,43090.0,43565.3,42600.0,43290.7,43106.6,764.211949,12332,44720.660

In [2]:
import plotly.graph_objects as go
import plotly.express as px

fig = go.Figure(data=[go.Candlestick(x = ohlc[0].index,
                                    open = ohlc[0]['open'],
                                    high = ohlc[0]['high'],
                                    low = ohlc[0]['low'],
                                    close = ohlc[0]['close'],
                                    ),
                     go.Scatter(x=ohlc[0].index, y=ohlc[0]['20 SMA'], line=dict(color='purple', width=1))])

fig.show()

ModuleNotFoundError: No module named 'plotly'

In [10]:
book = k.get_order_book('XXBTZUSD', count = 20)
print(book[0].head())
print(book[1].head())

public call frequency exceeded (seconds=0.82355)
 sleeping for 5 seconds
                         price  volume        time
dtime
2021-03-27 17:01:55  347.89000   5.234  1616864515
2021-03-27 17:01:54  347.23000   0.280  1616864514
2021-03-27 17:01:54  347.69000  14.409  1616864514
2021-03-27 17:01:53  348.06000   0.751  1616864513
2021-03-27 17:01:53  347.24000  81.022  1616864513
                         price   volume        time
dtime
2021-03-27 17:01:55  346.68000    3.370  1616864515
2021-03-27 17:01:54  346.29000   43.211  1616864514
2021-03-27 17:01:54  346.85000   14.404  1616864514
2021-03-27 17:01:54  346.55000    4.000  1616864514
2021-03-27 17:01:54  345.97000  106.033  1616864514

In [11]:
df = pd.merge(book[0], book[1], left_index=True, right_index=True)
df = df.rename({"price_x":"Bid Price","volume_x":"Bid Amount", "time_x":"Bid Time",
                "price_y":"Ask Price","volume_y":"Ask Amount", "time_y":"Ask Time"}, axis='columns')
df

,Bid Price,Bid Amount,Bid Time,Ask Price,Ask Amount,Ask Time
dtime,,,,,,
2021-03-27 17:01:53,348.06000,0.751,1616864513,345.93000,36.167,1616864513
2021-03-27 17:01:53,348.06000,0.751,1616864513,346.07000,14.356,1616864513
2021-03-27 17:01:53,348.06000,0.751,1616864513,345.74000,2.098,1616864513
2021-03-27 17:01:53,348.06000,0.751,1616864513,346.35000,0.096,1616864513
2021-03-27 17:01:53,348.06000,0.751,1616864513,346.40000,6.013,1616864513
...,...,...,...,...,...,...
2021-03-27 17:01:54,347.69000,14.409,1616864514,346.55000,4.000,1616864514
2021-03-27 17:01:54,347.69000,14.409,1616864514,345.97000,106.033,1616864514
2021-03-27 17:01:54,347.69000,14.409,1616864514,346.13000,15.000,1616864514
2021-03-27 17:01:54,347.69000,14.409,1616864514,346.33000,58.014,1616864514
2021-03-27 17:01:55,347.89000,5.234,1616864515,346.68000,3.370,1616864515